<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>alert</title>

    <link rel="stylesheet" href="../../src/nobs.css">
</head>
<body>
    
    <h1>Alerts</h1>

    <div class="alert alert-main" role="alert">
        Main alert. <a href="#">Main alert link.</a>
    </div>
    <div class="alert alert-minor" role="alert">
        Minor alert. <a href="#">Minor alert link.</a>
    </div>
    <div class="alert alert-go" role="alert">
        Go alert. <a href="#">Go alert link.</a>
    </div>
    <div class="alert alert-risk" role="alert">
        Risk alert. <a href="#">Risk alert link.</a>
    </div>
    <div class="alert alert-caution" role="alert">
        Caution alert. <a href="#">Caution alert link.</a>
    </div>
    <div class="alert alert-info" role="alert">
        Info alert. <a href="#">Info alert link.</a>
    </div>

</body>
</html>
