<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>button</title>

    <link rel="stylesheet" href="../../src/nobs.css">
</head>
<body>
    
    <h1>Buttons</h1>

    <button class="btn btn-main">Main</button>
    <button class="btn btn-minor">Minor</button>
    <button class="btn btn-go">⌚ Go</button>
    <button class="btn btn-risk">Risk</button>
    <button class="btn btn-caution">Caution ⌚</button>
    <button class="btn btn-info">Info</button>

    <a href="#" role="button" class="btn btn-main">Link</a>

    <a href="#">link</a><!-- Just to check how the focus ring works on a link -->

    <hr>

    <h2>Disabled variants</h2>

    <button class="btn btn-main" disabled>Main</button>
    <button class="btn btn-minor" disabled>Minor</button>
    <button class="btn btn-go" disabled>⌚ Go</button>
    <button class="btn btn-risk" disabled>Risk</button>
    <button class="btn btn-caution" disabled>Caution ⌚</button>
    <button class="btn btn-info" disabled>Info</button>
    
    <hr>

    <div style="display: flex; flex-direction: column;">
        <button class="btn btn-main">Main</button>
        <a href="#" role="button" class="btn btn-main">Link</a>
    </div>

    <hr>

    <div style="display: flex; justify-content: end;">
        <button class="btn btn-main">Main</button>
        <a href="#" role="button" class="btn btn-main">Link</a>
    </div>

</body>
</html>
