<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>button</title>

    <link rel="stylesheet" href="../../src/nobs.css">
</head>
<body>
    
    <h1>Buttons</h1>

    <button class="btn btn-main">Main</button>
    <button class="btn btn-minor">Minor</button>
    <button class="btn btn-go">⌚ Go</button>
    <button class="btn btn-risk">Risk</button>
    <button class="btn btn-caution">Caution ⌚</button>
    <button class="btn btn-info">Info</button>

    <a href="#" role="button" class="btn btn-main">Link</a>

    <a href="#">link</a> <!-- Just to check how the focus ring works on a link -->

</body>
</html>
