<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rack</title>

    <link rel="stylesheet" href="../../src/nobs.css">
</head>
<body>
    
    <h1>Racks</h1>

    <hr>

    <h2>Horizontal racks</h2>

    <h3>Block type rack container</h3>

    <div class="rack rack-h" style="display: flex; flex-direction: row;">
        <button class="btn btn-main">Main</button>
        <button class="btn btn-minor">Minor</button>
        <button class="btn btn-go">⌚ Go</button>
        <button class="btn btn-risk">Risk</button>
    </div>

    <h3>Inline-block type rack container</h3>

    <div class="rack rack-h" style="display: inline-flex; flex-direction: row;">
        <button class="btn btn-main">Main</button>
        <button class="btn btn-minor">Minor</button>
        <button class="btn btn-go">⌚ Go</button>
        <button class="btn btn-risk">Risk</button>
    </div>

    <hr>

    <h2>Vertical racks</h2>

    <h3>Block type rack container</h3>

    <div class="rack rack-v" style="display: flex; flex-direction: column;">
        <button class="btn btn-main">Main</button>
        <button class="btn btn-minor">Minor</button>
        <button class="btn btn-go">⌚ Go</button>
        <button class="btn btn-risk">Risk</button>
    </div>

    <h3>Inline-block type rack container</h3>

    <div class="rack rack-v" style="display: inline-flex; flex-direction: column;">
        <button class="btn btn-main">Main</button>
        <button class="btn btn-minor">Minor</button>
        <button class="btn btn-go">⌚ Go</button>
        <button class="btn btn-risk">Risk</button>
    </div>

    <hr>

    <h3>Wrapping childs</h3>

    <div class="rack rack-h" style="display: inline-flex; flex-direction: row; flex-wrap: wrap;">
        <button class="btn btn-main">Main</button>
        <button class="btn btn-minor">Minor</button>
        <button class="btn btn-go">⌚ Go</button>
        <button class="btn btn-risk">Risk</button>
    </div>

    <hr>

    <h3>Multiple racks at once - Horizontal</h3>

    <div style="display: flex; gap: 1rem; flex-wrap: wrap;">
        <div class="rack rack-h" style="display: inline-flex;">
            <button class="btn btn-main">Main</button>
            <button class="btn btn-minor">Minor</button>
            <button class="btn btn-go">⌚ Go</button>
            <button class="btn btn-risk">Risk</button>
        </div>
        <div class="rack rack-h" style="display: inline-flex;">
            <button class="btn btn-main">Main</button>
            <button class="btn btn-go">⌚ Go</button>
        </div>
        <button class="btn btn-risk">Risk</button>
    </div>

    <h3>Multiple racks at once - Vertical</h3>

    <div style="display: inline-flex; gap: 1rem; flex-direction: column;">
        <div class="rack rack-v" style="display: inline-flex; flex-direction: column;">
            <button class="btn btn-main">Main</button>
            <button class="btn btn-minor">Minor</button>
            <button class="btn btn-go">⌚ Go</button>
            <button class="btn btn-risk">Risk</button>
        </div>
        <div class="rack rack-v" style="display: inline-flex; flex-direction: column;">
            <button class="btn btn-main">Main</button>
            <button class="btn btn-go">⌚ Go</button>
        </div>
        <button class="btn btn-risk">Risk</button>
    </div>



    

</body>
</html>
